* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-weight: 400;
  font-family: "Arial";
  background-color: #e2e5e7;
  line-height: 18px;
  color: #5c646e;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.logo {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}

.main {
  background-color: #ffffff;
}
.main-content {
  padding: 46px 28px 60px 28px;
}
a {
  color: #ff1744;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
span a {
  color: #d08b98;
}
p,
ul,
ol {
  margin:0;
  /* margin: 0 0 16px 0; */
}

* + p,
* + ol {
  margin-top: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}
h1 {
  font-size: 30px;
  color: #fff;
}
h2 {
  font-size: 24px;
  line-height: 14px;
  color: #a5adb8;
}
h3 {
  color: #282d33;
  font-size: 18px;
  line-height: 20px;
}
hr {
  border-top: 1px solid #191c20;
  border-bottom: 1px solid  #40474f;
  margin: 10px 0;
  border-left: 0;
  border-right: 0;
}
.primary-letter {
  display: inline-block;
}
.primary-letter::first-letter {
  color: #ff1744;
  text-transform: uppercase;
}
