.logo {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    padding: 0 0 0 9px;
}
.logo-subtitle {
    margin: 0;
    color: #c9c7c7;
    font-size: 12px;
    font-weight: 400;
    padding: 0 8px;
}